# Python
.venv/
venv/
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/

# Django
db.sqlite3
media/
*.mo

# Env
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
